<!-- Your new widget html -->

<div class="panel panel-default">
  <div class="panel-heading"><h1 class="title" data-bind="title"></h1></div>
  <table class="table table-condensed">
    <tr>
      <th style="text-align: left;">Name</th>
      <th>Value</th>
    </tr>
    <tr data-foreach-item="items">
      <td style="text-align: left;"><span class="labelul" data-bind="item.label"></span></td>
      <td><span class="valueul" data-bind="item.value"></span></td>
    </tr>
  </table>
</div>

<p class="more-info" data-bind="moreinfo"></p>
<p class="updated-at" data-bind="updatedAtMessage"></p>
