<!-- Your new widget html -->
<div class="panel panel-default">
  <div class="panel-heading"><h1>Stock Lookup</h1></div>
  <h1 class="stockSymbol" data-bind="stockSymbol"></h1>
  <br />
  <h2 class="stockPrice" data-bind="stockPrice"></h2>
  <form class="form-horizontal" action="stock/view" method="get">
    <input type="text" class="form-control" name="symbol" placeholder="Stock Symbol"><br />
    <input type="submit" class="btn btn-default" value="Lookup">
  </form>
</div>

<!-- <form action="stock/purchase" method="get">
  # of Shares: <input type="text" class="form-control" name="number"><br />
  Cost: <label for="cost"></label><br />
  <input type="submit" class="btn btn-default" value="Purchase">
</form> -->
