<!-- Your new widget html -->
<h1 class="stockSymbol" data-bind="stockSymbol"></h1>
<h2 class="stockPrice" data-bind="stockPrice"></h2>

<form action="stock/view" method="get">
  <div class="input-group-btn">
    <input type="text" class="form-control" name="symbol" placeholder="Stock Symbol...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Lookup</button>
    </span>
  </div>
</form>
<form action="stock/purchase" method="get">
  # of Shares: <input type="text" name="number"><br />
  Cost: <label for="cost"></label><br />
  <input type="submit" class="btn btn-default" value="Purchase">
</form>
