<% content_for :title do %>
  Stock Portal
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Stock Portal" data-text="Some stock shit here" data-moreinfo="Actions: Buy Stock, Sell Stock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="Facebook" data-unordered="true" style="background-color:#3B5998" data-image=<%= current_user.image %> data-name=<%= current_user.name %>></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Pretty Stock Stuff" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="calendar" data-view="Calendar" data-title="Calendar" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
