<% content_for :title do %>
  Stock Portal
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="calendar" data-view="Calendar" data-title="Calendar" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_post" data-view="Post" style="background-color:#3B5998" data-image=<%= current_user.image %> data-name=<%= current_user.name %>></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="facebook_feed" style="background-color:#3B5998" data-view="Feed" data-title="Facebook Feed" style="background-color: #0f516b"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="stock_portal" data-view="Stock" data-title="Stock Portal" style="background-color: #0f516b"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="yahoo_stock_quote_list" data-view="List" data-title="Stocks" style="background-color: #0f516b" data-moreinfo="Value in USD"></div>
    </li>
  </ul>
</div>
